{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>{{ object.Name }}</h1>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Company Details</h5>
                    <p class="card-text">
                        <strong>CEO:</strong> {{ object.ceo }}<br>
                        <strong>Origin:</strong> {{ object.origin }}<br>
                        <strong>Established Year:</strong> {{ object.est_year }}
                    </p>
                    <a href="{% url 'company:list' %}" class="btn btn-secondary">Back to List</a>
                    <a href="{% url 'company:update' object.pk %}" class="btn btn-warning">Edit</a>
                    <a href="{% url 'company:delete' object.pk %}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}