{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Delete Company</h1>
            <div class="alert alert-warning">
                <h4>Are you sure?</h4>
                <p>Are you sure you want to delete <strong>{{ object.Name }}</strong>?</p>
            </div>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Yes, Delete</button>
                <a href="{% url 'company:list' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}